:root {
    /* menu 菜单折叠状态下，让所有子菜单剧中*/
    --el-menu-base-level-padding: 5px !important;

    /* 重置侧边栏折叠过渡动画时间*/
    --el-transition-duration: 0.18s !important;

    /* 重置menu菜单项高度*/
    --el-menu-item-height: 40px !important;

    /*更改menu菜单项文字颜色（官方推荐）*/
    --el-menu-text-color: var(--my-menu-text-color) !important;
}

html.dark {
    --el-menu-text-color: var(--my-base-dark-text-color) !important;
    --el-menu-bg-color: var(--my-secondary-dark-bg-color);
    --el-menu-hover-bg-color: var(--my-base-dark-bg-color);

    .el-message-box {
        background-color: var(--my-secondary-dark-bg-color);
        --el-messagebox-title-color: var(--my-base-dark-text-color);
        --el-messagebox-content-color: var(--my-base-dark-text-color);
        border: var(--my-message-border);

        .el-message-box__close {
            color: var(--my-base-dark-text-color);
        }
        .el-message-box__close:hover {
            color: var(--my-prymary-color);
        }
    }

    .el-card {
        --el-card-border-color: var(--my-base-dark-border-color);
        background-color: var(--my-secondary-dark-bg-color);

    }

    .el-table {
        --el-table-text-color: var(--my-base-dark-text-color);
        --el-table-tr-bg-color: var(--my-secondary-dark-bg-color);
        --el-table-border-color: var(--my-base-dark-border-color);
        --el-table-header-bg-color: var(--my-secondary-dark-bg-color);
        --el-table-row-hover-bg-color:var(--my-base-dark-border-color);
    }

    /* 重置table空数据时的样式*/
    .el-table__empty-block {
        background-color: var(--my-base-dark-bg-color);
    }
    .el-table__empty-text {
        color: var(--my-base-dark-text-color);
    }

    .el-pagination__total {
        color: var(--my-base-dark-text-color);
    }

    .el-loading-mask {
        background-color: var(--my-overlay-color);
    }

    .el-input {
        --el-input-bg-color: var(--my-base-dark-bg-color);
        --el-input-text-color: var(--my-base-dark-text-color)
    }

    .el-form-item__label {
        color: var(--my-base-dark-text-color);
    }

    .el-drawer {
        --el-drawer-bg-color: var(--my-secondary-dark-bg-color);
    }

    .el-dialog {
        --el-dialog-bg-color: var(--my-secondary-dark-bg-color);
        --el-text-color-primary: var(--my-base-dark-text-color);
        border: var(--my-message-border);
    }
    .el-dialog .el-dialog__close {
        color: var(--my-base-dark-text-color);
    }
    .el-dialog .el-dialog__close:hover {
        color: var(--my-prymary-color);
    }
}

/* 重置侧边栏el-menu弹出菜单的样式*/
.el-menu--popup {
    padding: 0 !important;
}

/* el-message-box的遮罩层样式*/
.el-overlay.is-message-box {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2000;
    height: 100vh;
    background-color: var(--my-overlay-color);
    overflow: hidden !important;
}

.el-form-item__label {
    font-weight: bold;
}
