@import "@/styles/variables.css";
@import 'element-plus/theme-chalk/el-notification.css';
@import 'element-plus/theme-chalk/el-message-box.css';
@import "element-plus/theme-chalk/el-message.css";
@import "element-plus/theme-chalk/el-button.css";
@import "@/styles/element-plus-reset.css";

html {
    font-size: 16px;
    height: 100%;
    overflow: hidden;
}

body {
    height: 100%;
    overflow: hidden;
}

#app {
    height: 100%;
    overflow: hidden;
}

